{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Shalini</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Shalini. Currently Pursuing Bachelors in
                    Information
                    Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
                Mail ID:shalini@gmail.com</p>
            </center>

        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Vanitha</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Vanitha. Pursuing bachelors in Information
                    Technology. Technical Trainer in FACEPrep.I am interested in Convolutional Neural Networks.</p>
                    Mail ID:vanithamani@gmail.com
                </p>
            </center>

        </div>
    </div>
</div>

{% endblock body %}